@charset "ISO-8859-1";

body{
	background: lightblue;
	text-align: center;
	}
	
form {
  border: 3px solid #f1f1f1;
  width: 400px;
  height: 50vh;
  padding: 10px;
  display: inline-block;
}
	
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.btn{
	 background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 300px) {
  span.btn {
    display: block;
    float: none;
  }
  .btn {
    width: 100%;
  }
}
